:root {
    --bg: #f5f5f5;
    --text: #000;
    --surface2: #e9e9e9;
    --border: #ccc;
    --primary: #0075B2;
    --table-header: #ddd;
    --box: #FCF8E3;
    --border-box:#F0AD4E;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #121212;
        --text: #e5e5e5;
        --surface2: #1f1d1d;
        --border: #ffffff;
        --primary:#004080;
        --table-header: #1f1d1d; 
        --box: #1F1D1D;
        --border-box:#F0AD4E;
    }
}