:root {
    --bg: #f5f5f5;
    --text: #000;
    --surface2: #e9e9e9;
    --border: #ccc;
    --primary: #003366;
    --table-header: #ddd;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #121212;
        --text: #e5e5e5;
        --surface2: #1f1d1d;
        --border: #ffffff;
        --primary:#004080;
        --table-header: #1f1d1d;  
    }
}