@media (max-width: 800px) {
    .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    z-index: 1400;
}

    #menu-toggle:checked ~ .overlay {
    display: block;
}

    .container {
        flex-direction: column !important;
        padding: 12px !important;
    }

    .row {
        flex-direction: column !important;
        gap: 12px !important;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: -260px;
        width: 240px;
        height: 100vh;
        overflow-y: auto;
        background: var(--surface2);
        padding: 24px;
        transition: left 0.3s ease;
        z-index: 1500;
        border-radius: 0;
        box-shadow: 2px 0 10px rgba(0,0,0,0.4);
    }
    
    .menu-btn {
        display: block;
        position: relative;
        width: 100px;
    }

    #menu-toggle:checked ~ .container .sidebar {
        left: 0;
    }
    
    .top-bar {
        padding: 12px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        text-align: left;
    }

    .top-left h1 {
        font-size: 21px;
    }

    .box {
        width: 100%;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}