* {
box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--bg);
    color: var(--text);
    font-family: Arial, sans-serif;
}

.menu-btn {
    display: none;
    cursor: pointer;
    position: fixed;
    font-size: 18px;
    color: #fff;
    background: var(--primary);
    padding: 8px 12px;
    border-radius: 4px;
    margin: 16px;
}

.container {
    display: flex;
    padding: 32px;
    gap: 24px;
}

.sidebar {
    background: var(--surface2);
    padding: 24px;
    border-radius: 8px;
    color: var(--text);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar details {
    margin: 6px 0;
}

.sidebar summary {
   padding: 10px 13px;
   font-weight: bold;
   cursor: pointer; 
}

.sidebar summary::marker {
    content: "▶ ";
    color: var(--primary);
}

.sidebar details[open] summary::marker {
    content: "▼ ";
}

.sidebar details ul li {
    padding: 8px 13px;
    margin: 5px 0;
    border-radius: 7px;
    background: var(--surface);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    border: 1px solid var(--border);
    transition: 
    background-color 0.3s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;
    cursor: pointer; 
}

.sidebar details ul li:hover {
    background-color: rgba(0, 51, 102, 0.1);
    transform: translateX(4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
}

.user-options {
        flex-wrap: wrap;
        gap: 8px;
    }
    
.main {
    flex: 1;
    min-width: 0;
}

.row {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.box {
    flex: 1;
    background: var(--surface);
    padding: 16px;
    border-radius: 8px;
    color: var(--text);
    overflow-y: auto;
    border: 1px solid var(--border);
}

.box h2 {
    margin-top: 0;
    font-size: 18px;
}

.box-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 13px;
    color: #88888F;
}

.edit{
    font-weight: normal;
    font-size: 13px;
    color: #88888F;
    text-decoration: none;
    cursor: pointer;
}

.box-content{
    display: flex;
    justify-content: space-between; 
}

.box-color {
    background-color: #EEEEEE;
    border-radius: 5px;
    padding: 10px 20px;
}

.scroll-table {
    max-height: 192px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: var(--surface);
    color: var(--text);
    white-space: nowrap;
}

table th, table td {
    border: 1px solid var(--border);
    padding: 8px 12px;
    text-align: left;
    padding: 6px 8px;
}

table th {
   background: var(--table-header);
}


