.top-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    background-color: var(--primary);
    color: #fff;
}

.top-left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.top-left img {
    width: 60px;
}

.top-left h1 {
    font-size: 21px;
    font-weight: 400;
    margin: 0;
}

.user-options {
    display: flex;
    gap: 16px;
}

.user-options a {
    padding: 5px 10px;
    color: #fff;
}

.user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    margin-left: 16px;
}